@import "_assets/style/_colors.scss";

.pagewrapper {
  display: flex;
  min-height: 100vh;
  &__left {   
    padding: 10px 0;
    flex: 0.6;
  }
  &__center {    
    flex: 8.4;
    border-radius: 20px 0 0 20px;
    background: $background-main;       
  }
  &__right {
    flex: 3;
    background-color: $primary-color;
    border-radius: 10px 0 0 10px;
    color: white;
  }
  &__logo {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
  &__header {
    height: 114px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: transparent;
  }
  &__main {
    box-sizing: border-box;    
    padding: 0px 5px 0px 20px;    
    height: 85%;
  }
}
