

.content-container {
  max-width: 100%;
  margin-top: 6.5px;
  padding-top: 0.7rem;
  background: #fff;
  position: relative;
  height: 97%;
  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    h4:first-child {
      color: var(--text-color);
      margin: 0;
    }
    .month {
      h4 {
        display: inline-block;
        margin-right: 1rem;
        color: var(--text-color);
        user-select: none;
      }
      .chevron-circle-left-icon {
        color: #2e3192;
        margin-right: 0.8rem;
      }
      .chevron-circle-right-icon {
        color: #2e3192;
      }
    }
    .search-bar {
      .appointment-search-icon {
        color: #a0a4ab;
        font-size: 14px;
      }
      input {
        border: none;
        margin-left: 0.4rem;
        opacity: 0.6;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .dates-container {
    box-sizing: border-box;
    padding: 0 1.8rem;
    width: 100%;
    overflow: hidden;
    margin: 0.5rem 0;
    &:hover {
      .dates-container__icon {        
        opacity: 1;       
      }
    }
    &__icon {
      z-index: 1000;
      position: absolute;
      top: 5.5rem;      
      opacity: 0.2;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1,1.1);
      }
      &:active {
        transform: scale(0.8,0.8);
      }
    }
    &__icon:first-child {
      left: 0.8rem;
    }
    &__icon:nth-child(2) {
      right: 0.5rem;
    }
    .dates {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      justify-content: center;

      .dot-notify::after {
        content: "";
        position: absolute;
        bottom: 0.6rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: var(--dark-red);
      }
      .date {
        width: calc(100% / 8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0rem;
        margin: 0 0.25rem;
        border-radius: 30px;
        user-select: none;
        cursor: pointer;
        p:first-child {
          color: #deb887;
          font-weight: 500;
        }
        p:last-child {
          color: #555;
          font-weight: 600;
        }
        &:hover {
          background-color: #f6f6f6;
        }
      }
      .date--active {
        @extend .date;
        background-color: #fac032 !important;
        p {
          color: #fff !important;
        }
      }
      .today{
        @extend .date;
        background:#c3c3c3 !important;
        p {
          color: #fff !important;
        }
      }
    }
  }
  .appointment-wrapper {
    display: flex;
    flex-direction: column;
    // margin-left: 2rem;
    .appointment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      .appointment-header,
      .appointment-body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .appointment-header {
        margin-left: 1rem;
        h4 {
          margin-bottom: 0;
        }
        p {
          font-size: 0.85rem;
        }
      }
      .appointment-body {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        background: #ffead3;
        border-radius: 30px;
        p {
          font-size: 0.85rem;
        }
      }
    }
    .appointment__noresult {
      display: block;
      margin: auto;
    }
  }
  .appointment__addbtn {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.8rem;
    margin: .5rem 0
  }
}
