.calendar-container {
    .month {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        position: relative;
        .chevron-circle-icon {
            transition: transform 0.3s;
            will-change: transform;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.8);
            }
        }
        .chevron-circle-icon.primary {
            color: var(--primary-color);
        }
    }
    .dates-container {
        padding: 1rem 2rem;
        width: 100%;
        overflow: hidden;
        margin: 0.5rem 0;
        position: relative;
        &:hover {
            .dates-container__icon {
                opacity: 0.6;
            }
        }
        &__icon {
            z-index: 1000;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.2;
            transition: transform 0.2s, opacity 0.2s;
            will-change: transform, opacity;
            &:hover {
                transform: scale(1.1) translateY(-50%);
            }
            &:active {
                transform: scale(0.8) translateY(-50%);
            }
        }
        &__icon:first-child {
            left: 0;
        }
        &__icon:nth-child(2) {
            right: 0;
        }
        .dates {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            .dot-notify::after {
                content: '';
                position: absolute;
                bottom: 0.3rem;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                background-color: var(--dark-red);
            }
            .date {
                display: flex;
                flex-basis: calc(100% / 7);
                flex-direction: column;
                align-items: center;
                padding: 1.2rem 0rem;
                margin: 0 0.25rem;
                border-radius: 27px;
                user-select: none;
                cursor: pointer;
                transition: background-color 0.4s;
                will-change: background-color;
                p:first-child {
                    color: #deb887;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                p:last-child {
                    color: #555;
                    font-weight: 600;
                }
                &:hover {
                    background-color: #f6f6f6;
                    opacity: 1 !important;
                }
            }
            .date--active {
                @extend .date;
                background-color: #fac032 !important;
                opacity: 1 !important;
                p {
                    color: #fff !important;
                }
            }
            .today {
                @extend .date;
                background: #c3c3c3 !important;
                p {
                    color: #fff !important;
                }
            }
        }
    }
}
