.dcardContent {
    width: 100%;
    margin: 0.4rem 0.3rem;
    padding: 1.5rem 2rem;
    &__title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.55rem;
        margin-bottom: 10px;
        &Icon {
            background-color: white;
            padding: 0.2rem 0.3rem;
            margin-right: 0.4rem;
            border-radius: 5px;
        }
    }
    // &__compare {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     &-title {
    //         font-size: 1.2rem;
    //         font-weight: 400;
    //     }
    //     &-number {
    //         font-size: 1.4rem;
    //         margin-right: 10px;
    //     }
    // }
}
