.login-container {
    height: 100vh;
    background: #f0f3fd;
    .login-left {
        flex-basis: 60%;
        height: 100%;
        border-radius: 0 30px 30px 0;
        overflow: hidden;
    }
    .login-right {
        position: relative;
        margin: 2rem;
        flex-grow: 1;
        height: 100%;
        .login-right-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-name {
                margin-left: 1rem;
            }
            align-self: flex-start;
        }
        .login-form {
            margin-top: 20%;
            vertical-align: middle;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-right: 0;
            .login-textfield {
                background-color: #fff;
                width: 70%;
                margin-bottom: 2rem;
                border-radius: 10px;
            }
        }
    }
}
