@import "_assets/style/_mixins.scss";
@import "_assets/style/_colors.scss";

.PaymentForm {
  height: 100px;
  background-color: white;
  margin-top: 1rem;
  background-color: #fafafa;
  table {
    color: #555;
    border-collapse: collapse;
    height: 100%;
    td {
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      vertical-align: top;
      width: calc(100% / 3);
      padding: 1rem;
      .PaymentForm__total {        
        font-size: 17px;
        font-weight: 700;
      }
      .PaymentForm__totalNum {
        font-size: 16px;
        margin-top: 1rem;
        color: black;
        span {
          @include currency();
        }
      }
      .PaymentForm__guest {
        span {
          font-size: 16px;
          font-weight: 500;
          margin-right: 1rem;
        }
      }
      .PaymentForm__exchange {
        margin-top: 1rem;
        span:first-child {
          font-size: 16px;
          font-weight: 500;
          margin-right: 1rem;
        }
        span:last-child {
          font-size: 16px;
          color: black;
          span {
            @include currency();
          }
        }
      }
      .PaymentForm__actions {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
