.PieChart {
    padding: 0.8rem 2rem;
    position: relative;
    &__container {
        position: relative;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        .PieChart__layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: 0 125px;
            border-left: 2px solid #fff;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform-origin: 0 125px;
            }
            &:nth-child(1) {
                background-color: steelblue;
                transform: translateX(125px) rotate(0deg);
            }
            &:nth-child(1)::before {
                transform: rotate(100deg);
                background-color: white;
            }
            &:nth-child(2) {
                background-color: coral;
                transform: translateX(125px) rotate(100deg);
            }
            &:nth-child(2)::before {
                background-color: white;
                transform: rotate(30deg);
            }
            &:nth-child(3) {
                background-color: cadetblue;
                transform: translateX(125px) rotate(130deg);
            }
            &:nth-child(3)::before {
                background-color: cadetblue;
                transform: rotate(130deg);
            }
            &:nth-child(4) {
                background-color: burlywood;
                transform: translateX(125px) rotate(180deg);
            }
            &:nth-child(4)::before {
                background-color: cadetblue;
                transform: rotate(-30deg);
            }
        }
    }
    &__note {
        position: absolute;
        top: 30%;
        right: 3.5%;
        font-size: 1.2rem;
        color: #777;
        .PieChart__notestate {
            margin-bottom: 0.8rem;
            font-weight: 500;
            .colorstate {
                display: inline-block;
                width: 40px;
                height: 20px;
                margin-right: 0.7rem;
                text-align: center;
                color: white;
                transform: translateY(-0.1rem);
                line-height: 20px;
            }
        }
    }
}
