@import "_assets/style/_colors.scss";

.TabTableWrapper {
    // width: 100%;
    background-color: white;
    height: 85vh;
    margin-right: 15px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}