$primary-color: #2E3192;
$secondary-color: #EFAD0A; 
$custom-paper-hover: #F8F8F8;
$background-main: #F5F8FE;

$greenlight : #34EEAE;
$greendark: #03B575;
$redlight: #FF7E77;
$reddark: #E74F48;


$lightest-blue: #EBF0FF;
$dark-gray: #52575C;
$word-color: #25282B;