@mixin badge($background-color) {
  display: inline-block;
  margin-left: 7px;
  text-align: center;
  background-color: $background-color;
  width: 30px;
  border-radius: 25%;
  font-weight: 400;
}

@mixin outlineTitle($title) {
  position: relative;
  margin-top: 1.7rem;
  border: 0.7px solid $background-main;
  border-radius: 20px;
  padding: 1.3rem 1.6rem;
  text-align: left;
  &::before {
    content: $title;
    display: inline-block;
    // text-transform: uppercase;
    color: $lightest-yellow;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.1rem 1rem;
    background-color: $primary-color;
    position: absolute;
    top: -13px;
    left: 10px;
  }
}

@mixin titleInRightBar() {
  color: rgba(255, 255, 255, 0.7);
  font: {
    size: 0.9rem;
    weight: 500;
  }
}

@mixin iconInRightBar($offset) {
  font-size: 0.9rem;
  margin-right: 0.2rem;
  transform: translateY($offset);
}

@mixin currency(){
  font-size: 15px;
  vertical-align: super;
  text-decoration: underline;
  margin: 0 0.5rem;
  font-weight: 400 !important;
}
@mixin gridDivide() {
  .col-1-5 {
    grid-column: 1/5;
  }
  .col-1-6 {
    grid-column: 1/6;
  }
  .col-1-7 {
    grid-column: 1/7;
  }
  .col-1-8 {
    grid-column: 1/8;
  }
  .col-6-8 {
    grid-column: 6/8;
  }
  .col-6-13 {
    grid-column: 6/13;
  }
  .col-7-13 {
    grid-column: 7/13;
  }
  .col-7-9 {
    grid-column: 7/9;
  }
  .col-8-13 {
    grid-column: 8/13;
  }
  .col-9-13 {
    grid-column: 9/13;
  }
  .col-10-13 {
    grid-column: 10/13;
  }
  .col-1-13 {
    grid-column: 1/13;
  }
  .row-1-3 {
    grid-row: 1/3;
  }
  .row-2-4 {
    grid-row: 2/4;
  }
}
