@import "_assets/style/_mixins.scss";
@import "_assets/style/_colors.scss";

.RightContent {
  &__card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0.8rem 1.5rem;
    h4 {
      margin: 0;
      margin-bottom: 1.2rem;
      grid-column: 1/13;
    }
    margin-bottom: 1.5rem;
    table {
      font-size: 15px;
      thead {
        background-color: $lightest-blue;
        color: $primary-color;
      }
      td {
        text-align: center;
        font-size: 14px;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  @include gridDivide();
}
