@import "_assets/style/_colors.scss";

.DTAppointmentItem {
    display: flex;
    margin: .8rem 0;
    font-size: 14px;
    &__time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1.25;
        span:first-child {
            font-weight: 500;
            margin-bottom: 3px;
        }
        span:last-child {
            font-size: 12px;
        }
    }
    &__info {
        box-sizing: border-box;
        flex: 3;
        background-color: #FFEAD3;
        border-radius: 15px;
        margin-left: .7rem;
        font-weight: 500;
        p {
            margin: 0
        }
        padding: .2rem .8rem;
        line-height: 2.2rem;
    }
}

.DTAppointment {
    padding: 0.7rem 0 0.7rem 1.3rem;    
    height: 290px;
    &__header {
        display: flex;
        justify-content: space-between;
        padding-right: 1.3rem;
        p {
            margin: 0;
            font-weight: 700;
        }
    }
    &__content {
        padding-right: 1.3rem;
    }
}