.RCServiceInfo__table {
    padding: 0 3rem;
    &-head {
        display: flex;
    }
    &-head {
        color: #777;
        font-size: 1.5rem;
    }
    &-body {
        height: 170px;
        overflow-y: auto;
        &-row {
            padding: 1rem 0;
            display: flex;
        }
    }
}
