.RCServiceInfo__table {
    margin-bottom: 10px;
    &-head {
        display: flex;
    }
    &-head {
        color: #777;
        font-size: 1.5rem;
    }
    &-body {
        height: 190px;
        overflow-y: auto;
        &-row {
            padding: 1rem 0;
            display: flex;
        }
    }
}
