@import "_assets/style/_mixins.scss";

.LeftContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    padding: .8rem 1.5rem;
    h4 {
        margin: 0;
        margin-bottom: 1.2rem;
    }
    &__avatarField {                        
        margin-bottom: .5rem;   
        .LeftContent__avatarWrapper {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin: auto;
            &:hover .LeftContent__avatarTitle{           
                opacity: 1;
            }      
            .LeftContent__avatarTitle {
                color: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                font-size: 13px;
                font-weight: 700;
                position: absolute;
                width: 112px;
                height: 52px;
                top: 53%;
                left: 0;
                background-color: rgba($color: #000000, $alpha: 0.4);   
                transition: all .3s;                    
            }
        }     
    }  
    @include gridDivide()
}