@import '_assets/style/_mixins.scss';

.CardInfor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 1rem 2rem;
    p {
        margin: {
            top: 0;
            bottom: 1rem;
        }
    }
    &__last {
        margin: 0 !important;
    }
    .title {
        @include titleInRightBar();
    }
    .link {
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            transform: scale(0.95, 0.95);
        }
    }
    &__icon {
        @include iconInRightBar(0.15rem);
    }
    .in-process {
        background-color: var(--lightest-blue);
        color: var(--dark-blue);
        text-align: center;
        font-weight: 500;
        border-radius: 5px;
    }
}
