.text {
    font-size: 30px;
    color: bisque
}
$color: red;
.button {
    width: 70px;
    height: 40px;
    background-color: aquamarine;
}

.button--danger {
    composes: button;
    background-color: $color;
    color: white
}