.header-card{
    width: 20%;
    padding:0.5rem;
    color:#fff;
    border-radius: 10px;
    &:hover{
        opacity: 0.9;
    }
    box-shadow: 3px 3px 8px #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 50px;
        height: 50px;
    }
    div {
        p:first-child{
            font-size: 20px;
        }
        p:last-child{
            font-weight: 700;
        }
        
    }
}