.queue-list {
    background-color: #efefef;
    grid-column: 1/6;
    padding: 1.5rem;
    &__tab {
        display: flex;
        &-item {
            flex: 1;
            text-align: center;
            border-radius: 10px 10px 0 0;
            user-select: none;
            cursor: pointer;
            transition: all 0.3s;
            padding: 0.6rem 0;
            &:hover {
                color: var(--primary-color);
            }
            &.active {
                color: var(--primary-color);
                background-color: #fff;
            }
        }
    }
    &__actions,
    &__content {
        background-color: #fff;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 10px 5px;
        user-select: none;
        cursor: pointer;
        transition: all 0.3s;
        &.active {
            background-color: #f8f8f8;
        }
        &:hover {
            background-color: #f9f9f9;
        }
    }
}
