@import '_assets/style/_mixins.scss';

.checkup-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: left;
    padding: 1rem 2rem;
    &__insights {
        .checkup-info__item {
            margin-bottom: 17px;
            font-size: 1.5rem;
            color: #888;
            font-weight: 300;
            span {
                font-size: 1.8rem;
                color: #000;
                width: 50px;
                display: inline-block;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 4px;
                    border-radius: 10px;
                    top: -5px;
                }
            }
        }
        .checkup-info__item:nth-of-type(3n + 1)
            > span::before {
            background-color: #03045e;
        }
        .checkup-info__item:nth-of-type(3n + 2)
            > span::before {
            background-color: #6bcb77;
        }
        .checkup-info__item:nth-of-type(3n + 3)
            > span::before {
            background-color: #fd5d5d;
        }
    }
    img {
        height: 100%;
        margin-left: auto;
    }
}
