@import '_assets/style/_mixins.scss';

$color-map: (
    1: #03045e,
    2: #6bcb77,
    3: #fd5d5d,
);

.checkup-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: left;
    padding: 1rem 2rem;
    &__insights {
        margin-top: 10px;
        .checkup-info__item {
            margin-bottom: 25px;
            font-size: 1.5rem;
            color: #888;
            font-weight: 300;
            span {
                font-size: 1.8rem;
                color: #000;
                width: 50px;
                display: inline-block;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 4px;
                    border-radius: 10px;
                    top: -5px;
                }
            }
        }
        @each $key, $value in $color-map {
            .checkup-info__item:nth-of-type(3n + #{$key})
                > span::before {
                background-color: $value;
            }
        }
    }
    img {
        height: 100%;
        margin-left: auto;
    }
}
