@import '_assets/style/_colors.scss';

.notification {
    display: inline-block;   
    // margin: 15px 0;
    
    &__icon {
        color: $primary-color;
        padding: 7px;
    }
    &:hover {
        background: $custom-paper-hover;
    }
    &:active &__icon{
        transform: scale(0.9,0.9);
    }
}