@import "_assets/style/_colors.scss";
@import "_assets/style/_mixins.scss";


.ECPatientInfo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include gridDivide();
    
}