@import "_assets/style/_colors.scss";
@import "_assets/style/_mixins.scss";

.PatientInfor {
  @include outlineTitle(
    "Thông tin bệnh nhân",
    $background-main,
    $primary-color,
    $lightest-yellow
  );
  &__EditIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__general,
  &__rest {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }
  &__general {
    display: flex;
    padding-bottom: 0.8rem;
    .PatientInfor__avatar {
      line-height: 2.9rem;
      text-align: center;
      width: 3rem;
      height: 3rem;
      border-radius: 10px;
      background-color: aliceblue;
      color: black;
      font: {
        size: 1.5rem;
        weight: 700;
      }
    }
    .PatientInfor__name {
      margin-left: 1.5rem;
      p {
        margin: 0;
      }
      p:first-child {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;
        margin-bottom: 0.5rem;
        transition: all 0.3s;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          transform: scale(0.95, 0.95);
        }
      }
      p:last-child {
        font-size: 0.85rem;
      }
    }
  }
  &__rest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    .PatientInfor__address {
      grid-column: 1/3;
    }
    .PatientInfor__job,
    .PatientInfor__idperson,
    .PatientInfor__address {
      p:first-child {
        @include titleInRightBar();
      }
    }
  }
  &__note {
    p:first-child {
      @include titleInRightBar();
    }
  }
  .queryIcon {
    @include iconInRightBar(0.1rem);
  }
}
