.notification {
    position: relative;
    &__icon {
        color: var(--primary-color);
        font-size: 2.4rem;
    }
    &__icon:active {
        transform: scale(0.9, 0.9);
    }
    &__content {
        position: absolute;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        width: 350px;
        right: 0;
        &.hide {
            display: none;
        }
        animation: scaleUp 0.3s;
        transform-origin: right top;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
