.ExamineForm {
  margin-top: 6.5px;
  margin-right: 1rem;

  &__title {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    &Back {
      padding: 0 0.4rem;
      margin-right: 0.5rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.4);
      }
      .icon {
        transition: all 0.3s;
      }
      &:active .icon {
        transform: scale(0.8, 0.8);
      }
    }
    &Word {
      padding: 0 1rem;
    }
    &Back,
    &Word {
      padding-top: 0.25rem;
    }
  }
}
