@import "_assets/style/_colors";

.Appointment {
    padding: .6rem 1rem;
    &__title {
        font-weight: 600;
        margin-bottom: .5rem;
    }
    table {
        width: 100%;
        th {
            color: $primary-color;
        }
        td {
            text-align: center;
            padding: .5rem;
        }
    }
}