.patient-rightbar {
    padding: 0 1.5rem;
    &__header {
        // min-height: 39px;
        position: relative;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        text-align: center;
        // cursor: pointer;
        margin-bottom: 16px;
        // line-height: 39px;
        font-weight: 700;
        &:hover span {
            opacity: 0;
        }
        &:hover .patient-rightbar__id {
            width: 100%;
        }
        span {
            position: absolute;
            width: 50%;
            transition: all 0.3s;
        }
        .patient-rightbar__id {
            width: 50%;
            padding: 10px 0px;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: #fff;
            font-weight: 500;
            transition: all 0.5s;
            position: absolute;
            right: 0;
        }
    }
}
