@import "_assets/style/_mixins.scss";

$header-height: 4rem;
$y-axis-width: 3.5rem;
$frame-padding: 1.8rem;

.BarChart {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: white;
  color: var(--text-color);
  font-weight: 500;
  border-radius: 8px;
  // padding: 1rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    padding: 0 2rem;
    align-items: center;
  }
  &__frame {
    position: absolute;
    padding: 0 $frame-padding;
    width: 100%;
    table {
      width: 100%;
      height: 90%;
      margin: auto;
      tr {
        td:first-child {
          width: $y-axis-width;
          text-align: center;
          font-size: 1.3rem;
          color: #8a8a8a;
          white-space: nowrap;
        }
        td:last-child {
          width: calc(100% - 3.5rem);
        }
      }
    }
    .BarChart__dotline {
      border-bottom: 1px dotted rgba($color: #a0a4a8, $alpha: 0.3);
    }
  }

  &__content {
    padding-left: $y-axis-width + $frame-padding + 0.3rem;
    padding-right: $frame-padding;
    display: flex;
    justify-content: space-between;
    .BarChart__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      text-align: center;
      .BarChart__shape-item {
        background-color: #c6d9ff;
        border-radius: 15px 15px 0 0;
        color: white;
        padding-top: 0.3rem;
      }
      .max {
        background-color: #6b9eff;
      }

      .BarChart__title-item {
        font-size: 1.3rem;
        margin-top: 0.5rem;
        height: 15.5%;
        color: #8a8a8a;
      }
    }
  }
}
