.datetime {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    user-select: none;
    flex: 1.5;
    .date, .time {
        padding: 0 20px;
        &__icon {
            margin-right: 5px
        }
    }
}