@import "_assets/style/_colors.scss";

.dashboard {
    margin-right: 1rem;
    margin-top: 6.5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    &__title {
        margin: 0;
        grid-column: 1/13;
        color: $primary-color;
        font-weight: 700;
        font-size: large;
        span {
            color: $secondary-color;
        }
    }
    &__cards {
        grid-column: 1/5;
    }
    &__averageVisitChart {
        grid-column: 5/13;
    }
    &__roomState {
        grid-column: 1/5;
    }
    &__appointment {
        grid-column: 5/13;
    }
}