.manage-dashboard-container{
    display: flex;
    flex-direction: column;
    .manage-chart{
        &-grid-container{
            display: grid;
            grid-template-columns: 40% 55%;
            grid-gap:5%;
            height: 50%;
        }
        &-grid-element{
            &-right{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-first-row{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                &-card{
                    width: 40%;
                }
            }
        }
    }
    .manage-barchar{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        .button{
            margin-top: 1rem;
        }
    }
}
