.add-form {
    padding: 1rem 0.2rem 1rem 2rem;
    &__form-content {
        height: 630px;
        overflow-y: auto;
        padding-right: 2rem;
        padding-top: 1.5rem;
        margin-top: 0;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-color);
            border-radius: 10px;
        }
    }
    .add-form__default-avatar {
        width: 80px;
        display: inline-block;
        margin: auto;
    }
}
