.dashboardCard {
    height: 100%;   
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__select {
        text-align: right;
        margin: 0rem 1rem;       
    }
}