@import "_assets/style/_colors.scss";
@import "_assets/style/_mixins.scss";

.VisitChart {
  min-height: 225px;
  position: relative;
  background-color: white;
  color: $word-color;
  font-weight: 500;
  border-radius: 8px;
//   margin-top: 0.8rem;
  padding: 0.7rem 0.8rem;
  &__header {
    display: flex;
    justify-content: space-between;
    p {
        margin: 0 .2rem;
        font: {
          size: 15px;
          weight: 600
        }
    }
  }
  &__frame {
    position: absolute;
    left: 0;
    padding: 0.5rem 0;
    width: 100%;
    table {
      width: 98%;
    //   margin-right: 1rem;
      tr {
        td {
          padding: 0.5rem 0;
        }
        td:first-child {
          width: 10%;
          text-align: center;
          padding-right: 0.5rem;
          font-size: 0.85rem;
          color: #8A8A8A
        }
        td:last-child {
          width: 90%;
        }
      }
    }
    .VisitChart__dotline {
      border-bottom: 1px dotted rgba($color: #a0a4a8, $alpha: 0.3);
    }
  }

  &__content {
    width: 100%;
    height: 193px;
    position: relative;
    .VisitChart__item {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 40.5px;
      left: 40px;
      height: 100%;
      bottom: 0;
      text-align: center;
      .VisitChart__baritem {
        box-sizing: border-box;
        height: 75px;
        background-color: #c6d9ff;
        border-radius: 15px 15px 0 0;
        color: white;
        padding-top: 0.3rem;
    }
    .max {
      background-color: #6b9eff;
    }

      .VisitChart__worditem {
        font-size: 0.85rem;
        margin-top: 0.5rem;
        color: #8A8A8A
      }
    }
  }
}
