@import "_assets/style/_colors.scss";

.querytable {
  width: 100%;
  border-collapse: collapse;
  tr {
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color: #f8f8f8;
      .swapicon {
        color: $primary-color;
      }
    }
    td {
      border-bottom: 1px solid #f5f5f5;
      .swapicon {
        color: $lightest-blue;
        transition: all .3s;
        &:hover {
          transform: scale(1.1,1.1);
        }        
      }
    }
    &.active {
      box-shadow: 0 0 10px #888;
    }
  }
}

.querytable__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem 0;
  margin-right: 2rem;
  span {
    margin: {
      bottom: 3px;
      right: 1rem;
    }
  }
  .querytable__prepage,
  .querytable__nextpage {
    margin: 0 0.2rem;
  }
}
