@import "_assets/style/_colors.scss";

.content-container {
  max-width: 100%;
  margin-top: 6.5px;
  padding: 0.7rem 1.5rem;
  background: #fff;
  position: relative;
  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h4:first-child {
      color: $word-color;
      margin: 0;
    }
    .month {
      h4 {
        display: inline-block;
        margin-right: 1rem;
        color: $word-color;
      }
      .chevron-circle-left-icon {
        color: #2e3192;
        margin-right: 0.8rem;
      }
      .chevron-circle-right-icon {
        color: #2e3192;
      }
    }
    .search-bar {
      .appointment-search-icon {
        color: #a0a4ab;
        font-size: 14px;
      }
      input {
        border: none;
        margin-left: 0.4rem;
        opacity: 0.6;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .dates-container {
    width: 98%;
    overflow: hidden;
    margin: 0.5rem auto;
    &:hover {
      .dates-container__icon {
        display: block;
        opacity: 1;
      }
    }
    &__icon {
      z-index: 1000;
      position: absolute;
      top: 10%;
      display: none;
      opacity: 0;
      transition: all 0.4s;
    }
    &__icon:first-child {
      left: 0.8rem;
    }
    &__icon:nth-child(2) {
      right: 0.5rem;
    }
    .dates {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      justify-content: center;

      .dot-notify::after {
        content: "";
        position: absolute;
        bottom: 0.6rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: $reddark;
      }
      .date {
        width: calc(100% / 8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0rem;
        margin: 0 0.25rem;
        border-radius: 30px;
        user-select: none;
        cursor: pointer;
        p:first-child {
          color: #deb887;
          font-weight: 500;
        }
        p:last-child {
          color: #555;
          font-weight: 600;
        }
        &:hover {
          background-color: #f6f6f6;
        }
      }
      .date--active {
        background-color: #fac032 !important;
        p {
          color: #fff !important;
        }
      }
      .date--today {
        @extend .date;
        background: #f2f2f2;
      }
    }
  }
  .appointment-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    .appointment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      .appointment-header,
      .appointment-body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .appointment-header {
        margin-left: 1rem;
        h4 {
          margin-bottom: 0;
        }
        p {
          font-size: 0.85rem;
        }
      }
      .appointment-body {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        background: #ffead3;
        border-radius: 30px;
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
}
