@import "_assets/style/_colors.scss";

.content-container {  
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3:first-child {
      color: $word-color;
      margin: 0;
    }
    .month {
      h3 {
        display: inline-block;
        margin-right: 1rem;
        color: $word-color;
      }
      .chevron-circle-left-icon {
        color: #2e3192;
        margin-right: 0.8rem;
      }
      .chevron-circle-right-icon {
        color: #2e3192;
      }
    }
    .search-bar {
      .appointment-search-icon {
        color: #a0a4ab;
        font-size: 14px;
      }
      input {
        border: none;
        margin-left: 0.4rem;
        opacity: 0.6;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .dates-container {
    width: 97%;
    overflow: hidden;
    margin: auto;
    .dates {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center; 
      .dot-notify::after {
        content: "";
        position: absolute;
        bottom: 0.6rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;        
        background-color: $reddark;
      }     
      .date {        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1.5rem;
        margin: 0 0.25rem;
        border-radius: 30px;    
        user-select: none;
        cursor: pointer;    
        p:first-child {
          color: #fcdf98;
        }
        p:last-child {
          color: #000;
          font-weight: 600;
        }
      }
      .date--active {
        @extend .date;
        background: #fac032;
        p {
          color: #fff !important;
        }
      }
    }
  }
  .appointment-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    .appointment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      .appointment-header,
      .appointment-body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .appointment-header {
        margin-left: 2rem;
        h2 {
          margin-bottom: 0;
        }
      }
      .appointment-body {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 2rem;
        padding-left: 2.5rem;
        padding-top: 0;
        padding-bottom: 0;
        background: #ffead3;
        border-radius: 30px;
        p {
          font-size: 20;
        }
      }
    }
  }
}
