

.queryRightbar {
    padding: 1rem;
    &__header {
        min-height: 39px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.7px solid var(--background-main);
        border-radius: 30px;      
        cursor: pointer;        
        &:hover span{
            opacity: 0;
        }
        &:hover .queryRightbar__id {
            width: 100%;
        }
        span {
            position: absolute;
            width: 40%;
            transition: all .3s;
            font-weight: 500;
            color: var(--light-yellow);
        }         
        .queryRightbar__id {
            width: 60%;
            padding: 10px 0px;
            background-color: var(--background-main);
            border-radius: 30px;
            color: var(--primary-color);
            font-weight: 500;
            text-decoration: underline;
            transition: all .5s;
            position: absolute;
            right: 0;
        }
        
    }
}